.halfopacity {
  opacity: 0.1;
}
.background-color {color: #ff96ce}

.btn.btn-secondary {
  background-color: #ffaac8;
}
.horizontal-menu {display: inline-block;}
.padding-left {50px{}

.searchbutton {
  color:red;
}
.btn.btn-
